:root {
    --main-color: #14213d;
    --text-color: white;
    --table-header-color: var(--main-color);
    --button-color: var(--main-color);
    --secondary-color: var(--logo-color);
    --logo-color: #A1292B;
}

html, body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65), rgba(255, 255, 255, 0.2)), url("https://www.muscleandfitness.com/wp-content/uploads/2019/07/Hands-Clapping-Chaulk-Kettlebell.jpg?quality=86&strip=all");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;

    min-height: 100vh;
    color: white;
}

h1, h2, h3, h4, h5 {
    color: black;
}

.pageContainer {
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    color: black;
    padding: 5% 9%;

    margin-top: 3%;
    border-radius: 12px;
}

.coloredHeader {
    background-color: var(--table-header-color);
    color: var(--text-color) !important;
    border: 3px solid var(--table-header-color);
}

.headerText{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--text-color) !important;
}

.coloredRows{
    border: 3px solid var(--table-header-color);
}

.rowText {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.custom-button{
    background-color: var(--button-color) !important;
    /*padding-left: 3% !important;
    padding-right: 3% !important;*/
    color: white !important;
    border: unset !important;
    margin: 1rem;
}

.cancel-button{
    background-color: red;
    color: white;
    border: red;
}

Checkbox {
    color: var(--button-color) white;
}




